<body>

<h1 class="title">
  My Dear <span>Love</span>
</h1>

<div class="section left">
  <img src="intro.jpg">
  <p>
    Todo esto lo escribo con el corazón,
    te amo demasiado y quiero que lo recuerdes.
  </p>
</div>

<a href="tres-anios.html" class="section right link">
  <img src="3anios.jpg">
  <p>3 años</p>
</a>

<a href="cartas.html" class="section left link">
  <img src="cartas.jpg">
  <p>Cartas</p>
</a>

<a href="pequenas-cosas.html" class="section right link">
  <img src="pequenas.jpg">
  <p>Pequeñas cosas</p>
</a>

</body>
