body {
  margin: 0;
  font-family: 'Comic Sans MS', cursive;
  background: #ffe6f0;
  text-align: center;
}

/* BANNER */
.banner {
  width: 100%;
  max-height: 250px;
  object-fit: cover;
  display: block;
}

/* TITULO */
.title {
  font-size: 48px;
  margin: 20px 0;
}

.title span {
  font-size: 28px;
  font-style: italic;
}

/* SECCIONES */
.top-section {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 30px;
  flex-wrap: wrap;
}

.box {
  background: #b8b8b8;
  padding: 10px;
  width: 250px;
}

.box video {
  width: 100%;
  height: auto;
  display: block;
}

/* TEXTO */
.text {
  background: #d6d0d3;
  display: flex;
  align-items: center;
}

/* LINKS */
.link {
  text-decoration: none;
  color: black;
  margin: 30px auto;
  display: block;
}

.center p {
  margin-top: 10px;
  font-size: 18px;
}
