@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;700&family=Great+Vibes&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Fredoka', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fcfcfc;
}

.banner {
    width: 100%;
    max-height: 250px;
    object-fit: cover;
}

/* Título centrado y grande */
.title {
    font-size: 4rem; 
    margin: 60px 0;   
    text-align: center;
}

.title span {
    font-family: 'Great Vibes', cursive;
    font-size: 3rem;
    color: #ff99aa;
}

/* Contenedor principal */
.main-container {
    width: 90%;
    max-width: 900px; 
    display: flex;
    flex-direction: column;
    gap: 40px; 
    padding-bottom: 80px;
}

/* Bloque superior (Video + Texto) */
.row-split {
    display: flex;
    width: 100%;
}

.box-dark {
    background-color: #636066;
    padding: 15px;
    width: 50%; /* Mitad para el video */
}

.box-light {
    background-color: #d1ced1;
    padding: 20px;
    width: 50%; /* Mitad para el texto */
    display: flex;
    align-items: center;
    color: black;
}

/* Zig-Zag */
.row-right { display: flex; justify-content: flex-end; width: 100%; }
.row-left { display: flex; justify-content: flex-start; width: 100%; }

/* Las tres cajitas iguales */
.link-card {
    text-decoration: none;
    color: white;
    width: 400px; /* Tamaño fijo para los tres */
    text-align: center;
    transition: transform 0.3s;
}

.link-card:hover {
    transform: translateY(-10px);
}

video {
    width: 100%; /* Esto evita que el video se salga del cuadro */
    display: block;
}

p {
    margin: 10px 0 0 0;
    font-weight: bold;
}
